# Copy this file to .env and fill in your real values
# DO NOT commit .env to GitHub!

PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/news-platform
JWT_SECRET=your_super_secret_key_here_min_32_chars
ADMIN_SECRET_KEY=your_admin_registration_key
FRONTEND_URL=https://frontendui-three.vercel.app
